@import play.i18n.Messages
<li id="tableauDeBord">
    <a href="/tableauDeBord">
        <i class="fa fa-fw fa-bar-chart"></i>
        <span class="title">Tableau de bord</span>
    </a>
</li>

<li id="generateEtat">
    <a href="/generateEtat">
        <i class="fa fa-fw fa-file-text"></i>
        <span class="title">Génération Etat</span>
    </a>
</li>
<li id="restrictionDonnees">
    <a href="#">
        <i class="fa fa-fw fa-file-text"></i>
        <span class="title">Restitution des données</span>
    </a>
    <ul>
        <li class="deplace" id="balance">
            <a href="/balance">
                <span class="title">Balance</span>
            </a>
        </li>
    </ul>
    <ul>
        <li class="deplace" id="pisteAudite">
            <a href="/pisteAudite">
                <span class="title">Piste d'Audite</span>
            </a>
        </li>
    </ul>
    <ul>
        <li class="deplace" id="casParticulier">
            <a href="/casParticulier">
                <span class="title">Cas Particuliers</span>
            </a>
        </li>
    </ul>
</li>

<li id="etatFodep">
    <a href="/etatFodep">
        <i class="fa fa-fw fa-sitemap"></i>
        <span class="title">Etat Fodep</span>
    </a>
</li>

<li id="postefodep">
    <a href="/postefodep">
        <i class="fa fa-fw fa-exchange"></i>
        <span class="title">Poste Etat Fodep</span>
    </a>
</li>

<li id="menuattribut">
    <a href="/attribut">
        <i class="fa fa-fw fa-cubes"></i>
        <span class="title">Attribut</span>
    </a>
</li>

<li id="regles">
    <a href="#">
        <i class="fa fa-fw fa-file-text"></i>
        <span class="title">Gestion des Regles</span>
    </a>
    <ul>
        <li class="deplace" id="ponderation">
            <a href="/ponderation">
                <span class="title">Ponderation par defaut</span>
            </a>
        </li>
        <li class="deplace" id="reglesPonderation">
            <a href="/reglesPonderation">
                <span class="title">Regle Fodep</span>
            </a>
        </li>

    </ul>
</li>
<li id="menusession">
<a href="/session">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span class="title">Session</span>
</a>
</li>

<li id="admin">
    <a href="#">
        <i class="fa fa-fw fa-cogs"></i>
        <span class="title">Administrations</span>
    </a>
    <ul>
        <li class="deplace" id="users">
            <a href="/utilisateur">
                <span class="title">Gestions des utilisateurs</span>
            </a>
        </li>
        <li class="deplace" id="role">
            <a href="/role">
                <span class="title">Gestion des roles</span>
            </a>
        </li>

    </ul>
</li>