<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Règles</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.max.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sb-admin.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/Aristo/Aristo.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/TweenMax.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/resizeable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.max.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/plugins/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/plugins/jquery.twbsPagination.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/plugins/api.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/regleponderation.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.HomeController.jsRoutes"></script>
    <script src="@routes.Assets.at("javascripts/xlsx.full.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    $('.selectpicker').selectpicker();
    });
    </script>
    <script type="text/javascript">
        var labelPagingFirst = 'Premier';
        var labelPagingPrev = 'Précédent';
        var labelPagingNext = 'Suivant';
        var labelPagingLast = 'Dernier';
        var labelPaging = 'pages';

    </script>
</head>
<body id="hcptclient">


<div id="wrapper">
    <!-- Navigation -->
    @enteteMenu()
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="">
                <div class="col-lg-12">
                    <div class="page-header" id="hcptcliet">

                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    <a class="trait" href="/creditchannel">Règles Ponderations</a>
                                    <small></small>

                                </h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default btn-xs btn-detail" data-toggle="modal" data-target="#addPonderation">Ajouter Regle</button>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <div class="row" id="">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Code Ponderation</th>
                                        <th>Code Attribut</th>
                                        <th>Code Poste</th>
                                        <th>Condition</th>
                                        <th colspan="2">Actions</th>

                                    </tr>
                                    </thead>
                                    <tbody id="tbodyRegles">

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div id="divPagination" class="col-md-7"></div>
                                <div class="col-md-5 pagingLabel"><h6 class="text-primary" id="pagingBottom"></h6></div>
                            </div>
                        </div>
                    </ol>

                    <div class="row exports exportMarge">
                        <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPonderation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addDetaillant details_d">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalAddDetaillantHead"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter Regle Ponderation
                </h4>
            </div>

            <div class="modal-body">
                <ol id="olShowErrorAdd"></ol>
                <ol id="olShowSuccessAdd"></ol>
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td class="styleTD" style="padding-top: 4%;" id="tdLabelCode"> Code Regle Ponderation<span class="requiered">*</span></td>
                        <td><select class="form-control" value="0" id="codePonderation" readonly></select></td>
                    </tr>
                    <tr>
                        <td class="styleTD" style="padding-top: 4%;" id="tdLabelAttribut"> Code Attribut<span class="requiered">*</span></td>
                        <td><select class="form-control" value="0" id="codeAttribut" readonly></select></td>
                    </tr>
                    <tr>
                        <td class="styleTD" style="padding-top: 4%;" id="tdLabelPoste"> Code Poste<span class="requiered">*</span></td>
                        <td><select class="form-control" value="0" id="codePoste" readonly></select></td>
                    </tr>
                    <tr>
                        <td class="styleTD" style="padding-top: 4%;" id="tdLabelCondition"> Conditions<span class="requiered">*</span></td>
                        <td><input type="text" id="condition" class="form-control" aria-describedby="sizing-addon3"></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <span><i class="fa fa-spinner fa-2x fa-spin imloadAdd"></i></span>
                <span></span>
                <button type="button" class="btn btn-danger btn-icon" id="createPonderation">Ajouter</button>
                <button type="button" class="btn btn-danger btn-icon" data-dismiss="modal" id="closeModalAddPonderation">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modifier Ponderation -->
<div class="modal fade" id="updatePonderation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog details">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelp" style="padding-left:10px">Modifier Regle Ponderation</h4>
            </div>
            <div id="touche_popp" class="modal-body">
                <td class="container" style="width:533px;">
                    <table id="tabPonderationsp" class="table table-bordered table-hover table-striped">
                        <tbody id="tbodyPonderationUp">
                        <tr>
                            <td class="styleTD" style="padding-top: 4%;" id="tdLabelCodeUp"> Code Regle Ponderation<span class="requiered">*</span></td>
                            <td><select class="form-control" value="0" id="codePonderationUp"></select></td>
                        </tr>
                        <tr>
                            <td class="styleTD" style="padding-top: 4%;" id="tdLabelAttributUp"> Code Attribut<span class="requiered">*</span></td>
                            <td><select class="form-control" value="0" id="codeAttributUp"></select></td>
                        </tr>
                        <tr>
                            <td class="styleTD" style="padding-top: 4%;" id="tdLabelPosteUp"> Code Poste<span class="requiered">*</span></td>
                            <td><select class="form-control" value="0" id="codePosteUp"></select></td>
                        </tr>
                        <tr>
                            <td class="styleTD" style="padding-top: 4%;" id="tdLabelConditionUp"> Conditions<span class="requiered">*</span></td>
                            <td><input type="text" id="conditionUp" class="form-control" aria-describedby="sizing-addon3"></td>
                        </tr>

                        </tbody>
                    </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-danger btn-icon" id="bt_modifier_ponderation">Modifier<i class="fa fa-check"></i></div>
            <div class="btn btn-danger btn-icon" id="bt_annuler_update_ponderation">Annuler<i class="fa fa-close"></i></div>
        </div>
    </div>
</div>

</body>
</html>
