<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Session Fodep</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.max.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sb-admin.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/Aristo/Aristo.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/TweenMax.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/resizeable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.max.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/plugins/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/plugins/jquery.twbsPagination.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/plugins/api.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sessionfodep.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.HomeController.jsRoutes"></script>
    <script src="@routes.Assets.at("javascripts/xlsx.full.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    $('.selectpicker').selectpicker();
    });
    </script>

</head>
<body id="hcptclient">


<div id="wrapper">
    <!-- Navigation -->
    @enteteMenu()

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="">
                <div class="col-lg-12">
                    <div class="page-header" id="hcptclient">

                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    <a class="trait" href="/creditchannel">Session FODEP</a>
                                    <small></small>

                                </h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default btn-xs btn-detail" data-toggle="modal" data-target="#pop-detail-transaction">Ajouter Session</button>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <div class="row" id="">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Identifiant Session</th>
                                        <th>Date Session</th>
                                        <th>Statut Session</th>
                                        <th colspan="2">Actions</th>

                                    </tr>
                                    </thead>
                                    <tbody id="tbodySession">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pop-detail-transaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addDetaillant details_d">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalAddDetaillantHead"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter Session
                </h4>
            </div>


            <div class="modal-body">
                <ol id="olShowErrorAdd"></ol>
                <ol id="olShowSuccessAdd"></ol>
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td class="styleTD" style="padding-top: 4%;" id="tdLabelCode"> Identifiant Session<span class="requiered">*</span></td>
                        <td><input type="text" id="idSession" class="form-control" aria-describedby="sizing-addon3"></td>
                    </tr>
                    <tr>
                        <td class="styleTD" style="padding-top: 4%;" id="tdLabelLibelle"> Date Session<span class="requiered">*</span></td>
                        <td><input type="text" id="dateSession" class="datepicker form-control" placeholder="" aria-describedby="sizing-addon3"></td>
                    </tr>


                </table>
            </div>
            <div class="modal-footer">
                <span><i class="fa fa-spinner fa-2x fa-spin imloadAdd"></i></span>
                <span></span>
                <button type="button" class="btn btn-default" id="createSessionFodep">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalAddSessionFodep">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>