<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>My Recipes a Food Category Flat Bootstarp Responsive WebSite Template | Single :: w3layouts</title>
<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Recipes Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="assets/js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script type="text/javascript" src="assets/js/move-top.js"></script>
<script type="text/javascript" src="assets/js/easing.js"></script>
  <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	<!--Animation-->
<script src="assets/js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
	<script src="@controllers.routes.HomeController.jsRoutes()" type="text/javascript"></script>
</head>
<body>
    <!-- header-section-starts -->
	<div class="header">
		<div class="container">
			<div class="logo wow bounceInDown animated" data-wow-delay="0.4s">
				<a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
			</div>
			<div class="header-right wow fadeInLeft animated" data-wow-delay="0.5s">
				<div class="social-icons">
					<li><a href="#"><i class="twitter"></i></a></li>
					<li><a href="#"><i class="facebook"></i></a></li>
					<li><a href="#"><i class="rss"></i></a></li>
					<li><div class="facebook"><div id="fb-root"></div>
						<div id="fb-root"></div>
						</div></li>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>
				<div class="search">
						<form>
							<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
							<input type="submit" value="">
						</form>
					</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
	<div class="main-content">
	<div class="about-banner wow fadeInUp animated" data-wow-delay="0.4s">
	<div class="top-menu navigation wow rollIn animated" data-wow-delay="0.4s">
	<span class="menu"> </span>
						<ul>
							<li><a href="index.html">HOME</a></li>
							<li><a href="about.html">ABOUT</a></li>
							<li><a href="menu.html">MENU</a></li>
							<li><a href="gallery.html">GALLERY</a></li>
							<li><a href="contact.html">CONTACTS</a></li>
							<div class="clearfix"></div>
						</ul>
					</div>
					<!-- script-for-menu -->
						<script>
							$("span.menu").click(function(){
								$(".top-menu ul").slideToggle("slow" , function(){
								});
							});
						</script>
						<!-- script-for-menu -->
	</div>
	<div class="single">		
				<div class="blog-top-in">
					<div class="col-md-4 top-blog wow bounceIn animated animated" data-wow-delay="0.4s">
						<a href="#"><img class="img-responsive" src="images/sin.jpg" alt=" " ></a>
					</div>
					<div class="col-md-8 sed-in wow fadeInRight animated" data-wow-delay="0.4s">
						<h4>SED LOREET ALIQUAM LEOTELLUS DOLOR DAPIBUS</h4>														  						
						<p>Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus pretium sit amet. Praesent lectus tortor, tincidu nt in consectetur vestibulum, ultrices nec neque. Praesent nec sagittis mauris. Fusce convallis nunc neque. Integer egestas aliquam interdum. Nulla ante diam, interdum nec tempus eu, feugiat vel erat. Integer aliquam mi quis accum san porta.
						Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum. Integer fring illa leo porttitor, ultrices quam non, lobortis ligula. Aliquam vel consequat arcu.
						Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum. Integer fring illa leo porttitor, ultrices quam non, lobortis ligula. Aliquam vel consequat arcu.
						Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p class="at-in wow fadeInUpBig animated animated animated" data-wow-delay="0.4s">Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus pretium sit amet. Praesent lectus tortor, tincidu nt in consectetur vestibulum, ultrices nec neque. Praesent nec sagittis mauris. Fusce convallis nunc neque. Integer egestas aliquam interdum. Nulla ante diam, interdum nec tempus eu, feugiat vel erat. Integer aliquam mi quis accum san porta.
						Quisque nec turpis nisi. Proin lobortis nisl ut orci euismod, et lobortis est scelerisque. Sed eget volutpat ipsum. </p>						
					<div class="wow fadeInDownBig animated animated animated">	
						<ul class="links">
							<li><i class="date"> </i><span class="icon_text">July 14, 2014</span></li>
							<li><a href="#"><i class="admin"> </i><span class="icon_text">Admin</span></a></li>
							<li class="last"><a href="#"><i class="permalink"> </i><span class="icon_text">Permalink</span></a></li>
						</ul>
						<ul class="links links_middle">
							<li><a href="#"><i class="title-icon"> </i><span class="icon_text">Lorem Ipsum Dolore</span></a></li>
							<li><i class="tags"> </i><span class="icon_text">No tags</span></li>
						</ul>
					</div>
					<!---->
					<div class=" single-profile">
				<h4> RELATED POSTS</h4>
				<div class="single-left ">					
					<div class="col-md-3 post-top wow bounceIn animated animated" data-wow-delay="0.4s">
					<a href="#"><img class="img-responsive " src="assets/images/si.jpg" alt="" /></a>
						<h6>Duis autem</h6>
						<p>Lorem ipsum dolor sit amet, consectetuer .</p>
					</div>
					<div class="col-md-3 post-top wow bounceIn animated animated" data-wow-delay="0.4s">
					<a href="#"><img class="img-responsive " src="assets/images/si1.jpg" alt="" /></a>
						<h6>Duis autem</h6>
						<p>Lorem ipsum dolor sit amet, consectetuer .</p>
					</div>
					<div class="col-md-3 post-top wow bounceIn animated animated" data-wow-delay="0.4s">
					<a href="#"><img class="img-responsive " src="assets/images/si2.jpg" alt="" /></a>
						<h6>Duis autem</h6>
						<p>Lorem ipsum dolor sit amet, consectetuer .</p>
					</div>
					<div class="col-md-3 post-top wow bounceIn animated animated" data-wow-delay="0.4s">
					<a href="#"><img class="img-responsive " src="assets/images/si3.jpg" alt="" /></a>
						<h6>Duis autem</h6>
						<p>Lorem ipsum dolor sit amet, consectetuer .</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		<!--start-leavecomment-->
			<div class="leave-comment wow fadeInRight animated animated" data-wow-delay="0.4s">
				<h3>COMMENTS</h3>
				<div class="table-form">
					<form >
				<div>
				<span>Name</span>
					<input type="text" value=" ">
				</div>
				<div>
					<span>Email</span>
					<input type="text" value=" ">
				</div>
				<div>
					<span>Your Comment</span>
					<textarea> </textarea>	
				</div>
				</form>
				<div class="wow swing animated animated animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<input type="submit" value="submit">
				</div>
			</div>
		</div>		
	</div>
		</div>
	</div>
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<p class="wow bounceInLeft animated" data-wow-delay="0.4s">My_Recipes &copy; 2015  All rights  Reserved | Design by &nbsp;<a href="http://w3layouts.com" target="target_blank">W3Layouts</a></p>
		</div>
	</div>
	<!-- footer-section-ends -->
	<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>